* {
    box-sizing: border-box;
}

.tela1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tela1 img {
    width: 218px;
    height: 279px;
}

.tela1-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tela1-buttons button {
    width: 345px;
    height: 72px;
    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    background-color: white;
}

.tela1-buttons img {
    width: 21px;
    height: 16px;
}